@primary-color: #00c853;
@border-color: #e5e5e5;
@header-font: Georgia;
@sub-text: 0.9rem;
@sub-text-color: #7f8c8d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  outline: none;
}

button {
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  min-width: 600px;
  background-color: #f8f9fa;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/*
.setupBack {
  background-image: url("../../images/background.jpg");
  background-position: cover;
}*/

.setupBody {
  width: 30%;
  min-width: 400px;
  height: auto;
  margin: auto;
  border: 1px solid @border-color;
  border-radius: 5px;
  margin-top: 200px;
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 19px 0px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 19px 0px rgba(204, 204, 204, 1);
  header {
    font-family: @header-font;
    color: @primary-color;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid @border-color;
  }
}

.setupForm {
  .radInput:nth-child(1) {
    margin-bottom: 20px;
  }

  .setupFooter {
    border-top: 1px solid @border-color;
    margin-top: 20px;

    button {
      color: #fff;
      background-color: @primary-color;
      padding: 5px;
      border: none;
      width: 50px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
      float: right;

      &:hover {
        background-color: darken(@primary-color, 10%);
      }
    }
  }

  input {
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }

  .setupSubBox {
    width: 100%;
    height: auto;
    margin-top: 20px;

    padding: 0px 10px 0px 10px;

    .setUpLeft {
      width: 27%;
      height: 30px;
      float: left;
    }

    .setUpRight {
      float: left;
      width: 73%;
      height: 30px;
      border-radius: 5px;
      border: 1px solid @border-color;

      input {
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 10px;
      }
    }
  }
}

.warning {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
  height: auto;
  background-color: lighten(pink, 10%);
  color: #e74c3c;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  line-height: 20px;
}

.success {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
  height: auto;
  background-color: #b2ff59;
  color: green;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  line-height: 20px;
}

.managerForm {
  width: 100%;
  height: auto;
}

.formFields {
  width: 100%;
  height: auto;
  label {
    width: 100%;
    display: block;
    padding-left: 5px;
  }

  .managerInput {
    width: 100%;
    height: auto;
    border: 1px solid @border-color;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px;
    input {
      width: 100%;
      border: none;
      height: 100%;
      border-radius: 10px;
      padding: 10px;
      font-size: 1rem;
    }
  }
}

.formFooter {
  width: 100%;
  height: auto;
  background-color: red;
  button {
    float: right;
    background-color: @primary-color;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
    &:hover {
      background-color: darken(@primary-color, 30%);
    }
  }
}

.loginWrapper {
  width: 100%;
  height: 690px;
}

.container {
  width: auto;
  height: auto;
}

.sidePane {
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #32373c;
  .logo {
    width: 100%;
    height: 60px;
  }
}

.pageBase {
  float: left;
  width: 100%;
  height: auto;
  padding-left: 200px;
  .pageHead {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    border-top: 1px solid #cccccc;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 3px 2px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 3px 2px 0px rgba(204, 204, 204, 1);
    padding: 10px 20px 0px 20px;
    .cube {
      float: left;
      color: @primary-color;

      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 5px;
      cursor: pointer;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid @primary-color;
      padding-top: 3px;
      i {
        font-size: 1.5rem;
      }
      &:hover {
        background-color: @primary-color;
        color: #fff;
      }
    }
  }

  .headCenter {
    height: 40px;
    width: 330px;

    float: left;
    margin-left: 5%;
    padding-top: 5px;

    .shortLinks {
      float: left;
      height: 100%;
      width: 32%;
      max-width: 100px;
      margin-right: 3%;
      border: 1px solid @primary-color;
      cursor: pointer;
      color: @primary-color;

      .centerIcon {
        float: left;
        padding: 5px;
        width: 30%;
        height: 100%;
      }

      .centerText {
        float: left;
        padding: 5px;
        text-align: center;

        width: 70%;
        height: 100%;
        padding-right: 15px;
      }

      &:hover {
        background-color: @primary-color;
        color: #ffffff;
      }
    }
  }
}

.reducePad {
  padding: 0px;
}

.thirdHead {
  float: right;
  width: 70px;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  .rightIcons {
    float: left;
    width: 50%;
    height: 100%;
    padding: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    &:hover {
      padding: 0px;
    }

    .notCounter {
      position: absolute;
      top: 5px;
      background-color: red;
      padding: 1px;
      padding-right: 4px;
      padding-left: 4px;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 600;
      border-radius: 5px;
    }
  }
}

.userDrop {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 150px;
  height: 100px;
  z-index: 10000;
  border-radius: 5px;
  background-color: #fff;
}

.userDrop::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 85%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.userImg {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: auto;
  margin-top: 30px;

  img {
    border-radius: 100px;
  }
}

.nameBox {
  width: 100%;
  height: auto;
  line-height: 20px;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
  word-break: none;
  padding: 0px 10px 0px 10px;
  color: @border-color;
}

.position {
  width: 100%;
  height: auto;
  font-size: 0.9rem;
  color: @primary-color;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

.menuBox {
  width: 100%;
  height: auto;
  margin-top: 30px;

  a {
    color: @border-color;
    font-size: 0.9rem;

    display: block;
    padding: 10px 0 10px 20px;
    text-decoration: none;

    &:hover {
      background-color: #191e23;
      color: @primary-color;
    }
  }

  li {
    list-style-type: none;
  }

  /* aim all child ul */
  .main-nav-ul ul {
    display: none;
  }

  /*  get all li with tap class(js placed)*/

  .main-nav-ul li.tap ul {
    display: block;
    background-color: #191e23;
  }

  .main-nav-ul li.selected {
    background-color: @primary-color;
  }

  .main-nav-ul li.selectedDropper ul {
    display: block;
  }

  .main-nav-ul .subArrow:after {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
  }

  .main-nav-ul li.tap .subArrow:after {
    content: "\f0d8";
    font-family: "Font Awesome 5 Free";
  }
}

.pagePlate {
  width: 97%;
  height: auto;
  min-height: 600px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
}

.staffFormBase {
  width: 100%;
  height: 100%;
  padding: 20px 0px 30px 0px;
  background-image: url("../../images/background\ \(3\).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.staffForm {
  width: 80%;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  height: auto;
  padding: 20px 40px 30px 40px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(248, 248, 248, 1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(248, 248, 248, 1);
  box-shadow: 0px 0px 5px 5px rgba(248, 248, 248, 1);

  .formTitle {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px;
    color: @primary-color;
    border-bottom: 2px solid @border-color;
  }

  .formField {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    margin-top: 20px;
    span {
      display: block;
      color: red;
      width: 100%;
    }
    label {
      display: block;
      width: 100%;
      cursor: pointer;
    }

    .formInput {
      cursor: pointer;
      border: 1px solid @border-color;
      height: 40px;
      padding-right: 10px;
      width: 100%;
      margin-top: 10px;

      input {
        width: 93%;
        height: 100%;
        border: none;
        padding: 5px;
        padding-left: 10px;
      }
    }

    .fname:after {
      content: "\f007";
      font-family: "Font Awesome 5 Free";
      color: #ccc;
    }

    .email:after {
      content: "\f0e0";
      font-family: "Font Awesome 5 Free";
      color: #ccc;
    }

    .number:after {
      content: "\f095";
      font-family: "Font Awesome 5 Free";
      color: #ccc;
    }

    .address:after {
      content: "\f2bb";
      font-family: "Font Awesome 5 Free";
      color: #ccc;
    }

    .pwd:after {
      content: "\f084";
      font-family: "Font Awesome 5 Free";
      color: #ccc;
    }

    .radioBox {
      width: 100%;
      height: auto;
      margin-top: 20px;

      input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
      }

      label {
        display: inline-block;
        background-color: #fff;
        padding: 10px 20px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid @border-color;

        &:hover {
          background-color: @primary-color;
          color: #fff;
        }
      }

      input[type="radio"]:checked + label {
        background-color: @primary-color;
        color: #fff;
      }

      input[type="radio"]:focus label {
        background-color: @primary-color;
        color: #fff;
      }
    }
  }
}

.passwordBearer {
  span {
    color: red;
    font-size: 0.9rem;
  }
}

.primaryBtn {
  padding: 10px 20px 10px 20px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: @primary-color;

  &:hover {
    background-color: darken(@primary-color, 10%);
  }
}

.floatRight {
  float: right;
}

//sizes below standard desktop size
@media only screen and (max-width: 1024px) {
  .pageBase {
    .pageHead {
      padding-right: 10px;
    }
  }
}
