* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input {
  outline: none;
}
button {
  outline: none;
}
body {
  margin: 0px;
  padding: 0px;
  min-width: 600px;
  background-color: #f8f9fa;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/*
.setupBack {
  background-image: url("../../images/background.jpg");
  background-position: cover;
}*/
.setupBody {
  width: 30%;
  min-width: 400px;
  height: auto;
  margin: auto;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 200px;
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 0px #cccccc;
  -moz-box-shadow: 0px 0px 19px 0px #cccccc;
  box-shadow: 0px 0px 19px 0px #cccccc;
}
.setupBody header {
  font-family: Georgia;
  color: #00c853;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
}
.setupForm .radInput:nth-child(1) {
  margin-bottom: 20px;
}
.setupForm .setupFooter {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
}
.setupForm .setupFooter button {
  color: #fff;
  background-color: #00c853;
  padding: 5px;
  border: none;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  float: right;
}
.setupForm .setupFooter button:hover {
  background-color: #00953e;
}
.setupForm input {
  cursor: pointer;
}
.setupForm label {
  cursor: pointer;
}
.setupForm .setupSubBox {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 0px 10px 0px 10px;
}
.setupForm .setupSubBox .setUpLeft {
  width: 27%;
  height: 30px;
  float: left;
}
.setupForm .setupSubBox .setUpRight {
  float: left;
  width: 73%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.setupForm .setupSubBox .setUpRight input {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
}
.warning {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
  height: auto;
  background-color: #fff3f5;
  color: #e74c3c;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  line-height: 20px;
}
.success {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
  height: auto;
  background-color: #b2ff59;
  color: green;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  line-height: 20px;
}
.managerForm {
  width: 100%;
  height: auto;
}
.formFields {
  width: 100%;
  height: auto;
}
.formFields label {
  width: 100%;
  display: block;
  padding-left: 5px;
}
.formFields .managerInput {
  width: 100%;
  height: auto;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 40px;
}
.formFields .managerInput input {
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}
.formFooter {
  width: 100%;
  height: auto;
  background-color: red;
}
.formFooter button {
  float: right;
  background-color: #00c853;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}
.formFooter button:hover {
  background-color: #002f14;
}
.loginWrapper {
  width: 100%;
  height: 690px;
}
.container {
  width: auto;
  height: auto;
}
.sidePane {
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #32373c;
}
.sidePane .logo {
  width: 100%;
  height: 60px;
}
.pageBase {
  float: left;
  width: 100%;
  height: auto;
  padding-left: 200px;
}
.pageBase .pageHead {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  border-top: 1px solid #cccccc;
  -webkit-box-shadow: 0px 3px 2px 0px #cccccc;
  -moz-box-shadow: 0px 3px 2px 0px #cccccc;
  box-shadow: 0px 3px 2px 0px #cccccc;
  padding: 10px 20px 0px 20px;
}
.pageBase .pageHead .cube {
  float: left;
  color: #00c853;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #00c853;
  padding-top: 3px;
}
.pageBase .pageHead .cube i {
  font-size: 1.5rem;
}
.pageBase .pageHead .cube:hover {
  background-color: #00c853;
  color: #fff;
}
.pageBase .headCenter {
  height: 40px;
  width: 330px;
  float: left;
  margin-left: 5%;
  padding-top: 5px;
}
.pageBase .headCenter .shortLinks {
  float: left;
  height: 100%;
  width: 32%;
  max-width: 100px;
  margin-right: 3%;
  border: 1px solid #00c853;
  cursor: pointer;
  color: #00c853;
}
.pageBase .headCenter .shortLinks .centerIcon {
  float: left;
  padding: 5px;
  width: 30%;
  height: 100%;
}
.pageBase .headCenter .shortLinks .centerText {
  float: left;
  padding: 5px;
  text-align: center;
  width: 70%;
  height: 100%;
  padding-right: 15px;
}
.pageBase .headCenter .shortLinks:hover {
  background-color: #00c853;
  color: #ffffff;
}
.reducePad {
  padding: 0px;
}
.thirdHead {
  float: right;
  width: 70px;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.thirdHead .rightIcons {
  float: left;
  width: 50%;
  height: 100%;
  padding: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}
.thirdHead .rightIcons:hover {
  padding: 0px;
}
.thirdHead .rightIcons .notCounter {
  position: absolute;
  top: 5px;
  background-color: red;
  padding: 1px;
  padding-right: 4px;
  padding-left: 4px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
}
.userDrop {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 150px;
  height: 100px;
  z-index: 10000;
  border-radius: 5px;
  background-color: #fff;
}
.userDrop::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 85%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}
.userImg {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: auto;
  margin-top: 30px;
}
.userImg img {
  border-radius: 100px;
}
.nameBox {
  width: 100%;
  height: auto;
  line-height: 20px;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
  word-break: none;
  padding: 0px 10px 0px 10px;
  color: #e5e5e5;
}
.position {
  width: 100%;
  height: auto;
  font-size: 0.9rem;
  color: #00c853;
  padding: 0px 10px 0px 10px;
  text-align: center;
}
.menuBox {
  width: 100%;
  height: auto;
  margin-top: 30px;
  /* aim all child ul */
  /*  get all li with tap class(js placed)*/
}
.menuBox a {
  color: #e5e5e5;
  font-size: 0.9rem;
  display: block;
  padding: 10px 0 10px 20px;
  text-decoration: none;
}
.menuBox a:hover {
  background-color: #191e23;
  color: #00c853;
}
.menuBox li {
  list-style-type: none;
}
.menuBox .main-nav-ul ul {
  display: none;
}
.menuBox .main-nav-ul li.tap ul {
  display: block;
  background-color: #191e23;
}
.menuBox .main-nav-ul li.selected {
  background-color: #00c853;
}
.menuBox .main-nav-ul li.selectedDropper ul {
  display: block;
}
.menuBox .main-nav-ul .subArrow:after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  float: right;
  margin-right: 20px;
  transform: rotate(90deg);
}
.menuBox .main-nav-ul li.tap .subArrow:after {
  content: "\f0d8";
  font-family: "Font Awesome 5 Free";
}
.pagePlate {
  width: 97%;
  height: auto;
  min-height: 600px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
}
.staffFormBase {
  width: 100%;
  height: 100%;
  padding: 20px 0px 30px 0px;
  background-image: url("../../images/background\ \(3\).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.staffForm {
  width: 80%;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  height: auto;
  padding: 20px 40px 30px 40px;
  -webkit-box-shadow: 0px 0px 5px 5px #f8f8f8;
  -moz-box-shadow: 0px 0px 5px 5px #f8f8f8;
  box-shadow: 0px 0px 5px 5px #f8f8f8;
}
.staffForm .formTitle {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px;
  color: #00c853;
  border-bottom: 2px solid #e5e5e5;
}
.staffForm .formField {
  width: 100%;
  height: auto;
  font-size: 0.9rem;
  margin-top: 20px;
}
.staffForm .formField span {
  display: block;
  color: red;
  width: 100%;
}
.staffForm .formField label {
  display: block;
  width: 100%;
  cursor: pointer;
}
.staffForm .formField .formInput {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  height: 40px;
  padding-right: 10px;
  width: 100%;
  margin-top: 10px;
}
.staffForm .formField .formInput input {
  width: 93%;
  height: 100%;
  border: none;
  padding: 5px;
  padding-left: 10px;
}
.staffForm .formField .fname:after {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  color: #ccc;
}
.staffForm .formField .email:after {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  color: #ccc;
}
.staffForm .formField .number:after {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  color: #ccc;
}
.staffForm .formField .address:after {
  content: "\f2bb";
  font-family: "Font Awesome 5 Free";
  color: #ccc;
}
.staffForm .formField .pwd:after {
  content: "\f084";
  font-family: "Font Awesome 5 Free";
  color: #ccc;
}
.staffForm .formField .radioBox {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.staffForm .formField .radioBox input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.staffForm .formField .radioBox label {
  display: inline-block;
  background-color: #fff;
  padding: 10px 20px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.staffForm .formField .radioBox label:hover {
  background-color: #00c853;
  color: #fff;
}
.staffForm .formField .radioBox input[type="radio"]:checked + label {
  background-color: #00c853;
  color: #fff;
}
.staffForm .formField .radioBox input[type="radio"]:focus label {
  background-color: #00c853;
  color: #fff;
}
.passwordBearer span {
  color: red;
  font-size: 0.9rem;
}
.primaryBtn {
  padding: 10px 20px 10px 20px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00c853;
}
.primaryBtn:hover {
  background-color: #00953e;
}
.floatRight {
  float: right;
}
@media only screen and (max-width: 1024px) {
  .pageBase .pageHead {
    padding-right: 10px;
  }
}
